{
  "$schema": "https://json.schemastore.org/lintstagedrc.schema.json",
  "*": ["pnpm exec prettier --write --ignore-unknown", "pnpm exec cspell lint"],
  "*.{js,ts}": "pnpm exec eslint --fix",
  "*.ts": "pnpm exec vitest --run related"
}
